*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.wrapper{
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}
.slide{
    width: 100vw;
    height: 100vh;
    background: url("background.png");
    background-size: auto 100vh;
    background-repeat: repeat-x;
    width: 400vw;
}
::-webkit-scrollbar{
    display: none;
}